*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h1{
    text-align: center;
    margin-top: 1%;
}
h2{
    text-align: center;
    margin-top: 6%;
}
.main-container{
    display: flex;
    margin-inline: 16%;
    margin-top: 2%;
}
.players{
    float: left;
    margin-right: 16%;
    margin-top: 18%;
}

.xo td{
    font-size: 200%;
    font-weight: bolder;
    color: white;
}
.xo table{
    border-collapse: collapse;
}
.xo td{
    border: 1px solid black;
}

.color1{
    background: rgb(139, 72, 206);
}
.color2{
    background: rgb(240, 114, 177);
}

.color1:hover{
    background: rgb(85, 25, 145);
}
.color2:hover{
    background: rgb(231, 37, 134);
}

/* ----------------- */

.xo{
    float: right;
    position: relative;
}

.xo button{
    position: relative;
    z-index: 1;
    border: 0;
    padding-inline: 28px;
    padding-block: 18px;
    width: 100%;
    height: 50%; 
}
.color1 button{
    background: rgb(139, 72, 206);
    color: rgb(139, 72, 206);
}
.color2 button{
    background: rgb(240, 114, 177);
    color: rgb(240, 114, 177);
}
.color1 button:hover{
    background: rgb(85, 25, 145);
    color: white;
}
.color2 button:hover{
    background: rgb(231, 37, 134);
    color: white;
}
.xo button:hover{
    visibility: visible;
}

/* a:visited{ */